.Renderer {

}

.Renderer-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* TODO turn these into components? Discard completely? They're helpful as documentation.
.Renderer-entities {}
.Renderer-tiles {}
.Renderer-apples {}
.Renderer-snake {}*/